body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 33);
}

header {
    height: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color:#333;
    color: #965eeb;
    text-align: left;
}

nav ul{
    display:flex;
}


nav ul li{
    list-style: none;
    margin: 0 23px;
}


nav ul li a{
    text-decoration: none;
    color: white;
}


nav ul li a:hover{
    color:rgb(162, 107, 221);
    font-size: 1.03rem;
}

section {
    padding: 20px;
    text-align: center;
    color:rgb(135, 81, 193);
}

img{
    width: 300px;
    
    
} 

footer {
    background-color: #333;
    color: #7e76c9;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}